<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Create Account</title>

    <!--Fonts Styles -->
    {% include 'fontsStyles.html' %}

</head>
<body>
    
    
    <!--Nav Bar -->
    {% include 'NavBar.html' %}

    <div class="MainContainerLogin">

        <div class="LoginFormContainer">
            <!--=============== FORM ==============-->
            <form action="/newAccount" method="POST">
    
                <div class="TitleDiv">
                    <h3 class="SelectBestToYou Black-Border-Letters AdjustFont">New account </h3>
                    <h3 class="H3"> <span class="SelectBestToYou Black-Border-Letters AdjustFont">(Fill your data)</span></h5>
                </div>
                
                <div class="InLine BlueBlack">
                    <label class="SelectBestToYou Black-Border-Letters ">Name</label>
                    <input type="text" class="Text StyleInput" name="name">
                </div>

                <div class="InLine BlueBlack">
                    <label class="SelectBestToYou Black-Border-Letters ">Email</label>
                    <input type="email" class="Email StyleInput" name="email">
                </div>
                
                <div class="InLine BlueBlack ">
                    <label class="SelectBestToYou Black-Border-Letters">Password</label>
                    <input type="password" class="Password AddMargin Adjust StyleInput" name="password">
                </div>
                
                <div class="InLine">
                    <button type="submit"  class="styled-button">Create account</button>
                </div>

                <!--Display error messages if exist-->
                {% if message %}
                    <div>
                        <p class="BlueBlack"> {{message}}</p>
                    </div>
                {% endif %}

            </form>

        </div>

    </div> 
           
</body>
</html>