<!-- MainStyles -->
<link rel="stylesheet" href="/static/styles.css">
<!-- FONTS -->
<link rel="preconnect" href="https://fonts.googleapis.com">
<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
<link href="https://fonts.googleapis.com/css2?family=Cabin:ital,wght@0,400..700;1,400..700&display=swap" rel="stylesheet">

<link rel="preconnect" href="https://fonts.googleapis.com">
<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
<link href="https://fonts.googleapis.com/css2?family=Cabin:ital,wght@0,400..700;1,400..700&family=Permanent+Marker&display=swap" rel="stylesheet">
<!---->

<!--EB Garamond-->
<link rel="preconnect" href="https://fonts.googleapis.com">
<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
<link href="https://fonts.googleapis.com/css2?family=EB+Garamond:ital,wght@0,400..800;1,400..800&display=swap" rel="stylesheet">


<!--Navbar-->
<link rel="stylesheet" href="/static/navbar_style.css">
<!--Left Products Container -->
<link rel="stylesheet" href="/static/Left-Products-Links.css">
<!--Right Container-->
<link rel="stylesheet" href="/static/RightContainer.css">
<!--Products Displayers(Sodas/Layas/Cookies/Others)-->
<link rel="stylesheet" href="/static/ProductsDisplayer.css">
<!--MyCart Style-->
<link rel="stylesheet" href="/static/MyCartStyle.css">
<!--MyPurchases Style-->
<link rel="stylesheet" href="/static/MyPurchasesStyle.css">
<!--Login Style-->
<link rel="stylesheet" href="/static/LoginStyle.css">
<!--Admin Pages Styles-->
<link rel="stylesheet" href="/static/AdminPagesStyles.css">