<!--Left-Products-Links-->
<div class="Left-Container">
    
    <div class="Head-Check-Sale">
        <h2 class="Check-h2 Black-Border-Letters Shadow-Title-Display BackGroundColor">Check our products!</h2>
        <img src="/static/Images/Sale.gif" class="Sale-Gif Block-In-Line">
    </div>
    
    <div class="Links-Container">
        <div class="Individual-Link">
            <a class='Check-h2 Shadow-Title-Display No-Decoration' href="{{ url_for('Sodas') }}">Sodas</a>
            <img src="/static/Images/soda-pop.gif" class="Soda-Gif Link-Icon">
        </div>

        <div class="Individual-Link">
            <a class='Check-h2 Shadow-Title-Display No-Decoration' href="{{ url_for('Fries') }}">Lay's</a>
            <img src="/static/Images/LaysGif.gif" class="Soda-Gif Link-Icon">
        </div>

        <div class="Individual-Link">
            <a class='Check-h2 Shadow-Title-Display No-Decoration' href="{{ url_for('Cookies') }}">Cookies</a>
            <img src="/static/Images/CookieGif.gif" class="Soda-Gif Link-Icon">
        </div>

        <div class="Individual-Link">
            <a class='Check-h2 Shadow-Title-Display No-Decoration' href="{{ url_for('Others') }}">Others</a>
            <img src="/static/Images/questionMark.gif" class="Soda-Gif Link-Icon">
        </div>

    </div>
</div>