<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Logout</title>
    <!--Fonts Styles -->
    {% include 'fontsStyles.html' %}
</head>
<body>

    <!--Nav Bar -->
    {% include 'NavBar.html' %}

    <!--Display the products of your cart-->
    <div class="Flexcol">
        <div class="DisplayProduct5">
            <img src="/static/Images/ByeGif.gif" alt="Product Image" class="ProductImage">
        </div>
    </div>

</body>
</html>