<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>My Purchases</title>
    <!--Fonts Styles -->
    {% include 'fontsStyles.html' %}
</head>
<body>

    <!--Nav Bar -->
    {% include 'NavBar.html' %}

    <!--Display the products of your cart-->
    <div class="Flexcol">
        <div class="DisplaySells2">
            <h2 class="MiniMarket-Title Block-In-Line Black-Border-Letters">
                My shopping Ticket List</h2>

            <table>
                <tr class="table-header">
                    <th class="SelectBestToYou Black-Border-Letters">Tickets</th>
                </tr>
                
                {% for receipt in receipts %}
                <tr class="table-body">
                    <td class="TH2"><div class="receipt">{{ receipt }}</div></td> 
                </tr>
                {% endfor %}
                
            </table>
            
        </div>
    </div>

</body>
</html>
