<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Users Logged</title>
    <!--Fonts Styles -->
    {% include 'fontsStyles.html' %}
</head>
<body>

    <!--Nav Bar -->
    {% include 'NavBar.html' %}

    <!--Display the products of your cart-->
    <div class="FlexRow2">
        <div class="DisplaySells1">
            <div>
                <h2 class="bestSellers Black-Border-Letters ">Users Registered</h2>
            </div>

            <table>
                <tr class="table-header">
                    <th class="TH1 bestSellers Black-Border-Letters">ID</th>
                    <th class="TH1 bestSellers Black-Border-Letters">Name</th>
                    <th class="TH1 bestSellers Black-Border-Letters">Email</th>\
                    <th class="TH1 bestSellers Black-Border-Letters">Status</th>
                    <th class="TH1 bestSellers Black-Border-Letters">Change Status</th>
                </tr> 
                
                {% for user in Users%}
                <tr class="table-body">
                    <td class="TH2 bestSellers Black-Border-Letters LittleFont">{{user[0]}}</td> 
                    <td class="TH2 bestSellers Black-Border-Letters LittleFont">{{user[1]}}</td> 
                    <td class="TH2 bestSellers Black-Border-Letters LittleFont">{{user[2]}}</td>
                    <!--Status-->
                    {% if user[3] == 0 %}
                        <td class="TH2 bestSellers Black-Border-Letters LittleFont greenBackground">Active</td>
                    {% else %}
                        <td class="TH2 bestSellers Black-Border-Letters LittleFont redBackground">Deleted</td>
                    {% endif %}     
                    
                    <!--ChangeStatus-->
                    <td class="TH2">
                        <form action="/usersmanage" method="POST">
                                            <!--Sending who will change the status-->
                            <input type="hidden" name="Email" value="{{user[2]}}">
                            <button type="submit" class="BtnAddCart">
                                <img src="/static/Images/switch.png" alt="add to cart icon" class="AddToCart">
                            </button>

                        </form>    
                    </td>

                </tr>
                {% endfor %}
                
            </table>
            
        </div>
    </div>
    
</body>
</html>
