<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Mini Market Paul</title>
    <!--Fonts Styles -->
    {% include 'fontsStyles.html' %}

</head>
<body>
    
    <!--Nav Bar -->
    {% include 'NavBar.html' %}

<!-- Left menu container -->
 <div class="MainContainer">

    <!--Left links-->
    {% include 'Leftlinks.html' %}

    <div class="RightContainer">
        <h2 class="bestSellers blackTextBorder"> Best sellers!</h2>
    </div>

 </div>

</body>
</html>
