<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Current Stock</title>
    <!--Fonts Styles -->
    {% include 'fontsStyles.html' %}
</head>
<body>

    <!--Nav Bar -->
    {% include 'NavBar.html' %}

    <!--Display the products of your cart-->
    <div class="FlexRow2">
        <div class="DisplaySells1">
            <div>
                <h2 class="Header blackTextBorder centerBlock ">My stock</h2>
            </div>

            <table>
                <tr class="table-header">
                    <th class="TH1">Product</th>
                    <th class="TH1">Image</th>
                    <th class="TH1">Stock</th>
                </tr> 
                
                {% for product, quantity in InStock.items() %}
                <tr class="table-body">
                    <td class="TH2">{{ product }}</td> 
                    <td class="TH2"><img src="/static/Images/{{product}}.png" alt="add to cart icon" class="ItemsImage"> </td>  
                      
                    {% if quantity >= 30 %}
                        <td class="TH2 greenBackground">{{ quantity }}</td>
                    {% elif quantity >= 15 and quantity < 30 %}
                        <td class="TH2 yellowBackground">{{ quantity }}</td>
                    {% else %}
                        <td class="TH2 redBackground">{{ quantity }}</td>  
                    {% endif %}  
                </tr>
                {% endfor %}
                
            </table>
            
        </div>
    </div>
    
</body>
</html>
